//TEMP STYLING STARTS
.mycontent {
    background-color: #004643;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom:  15%;

}
h1 {
    color: #FFFFFE;
    font-size: 30px;
    font-family: Menlo, Monaco, fixed-width;
}
p {
    color: #ABD1C6;
    font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}
#mapid {
    border-style: solid;
    border-color: #E16162;
}
//TEMP STYLING ENDS   
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
